body{
    background-color: #fff;
    background-image:
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    margin-left: 10%;
}
h1{
    font-size: 40px;
    margin-top: 15.5px;
    text-align: center;
    text-transform: uppercase;
}
p{
    line-height: 1.40;
}